{% extends 'base.html' %}

{% block content %}

<table class="table table-striped" >
    <thead class="thead-dark">
        <tr>
            <th scope="col">{% block title %} Recomendador de vídeos {% endblock %}</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    {% for post in posts %}
    <tr>
        <th>
            <a href=" {{ post[0] }} ">
                {{ post[1] }}
            </a>
        </th>
        <th>
            {{ post[2] }}
        </th>
    </tr>
    {% endfor %}

</table>

{% endblock %}


